body {
    background-color: #0d1117;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.hidden { display: none !important; }

#question-page, #envelope-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 14px 24px;
    border: none;
    border-radius: 50px;
    background-color: #ff54a4;
    color: white;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

/* Envelope Styles */
.wrapper {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #f08080;
    margin-bottom: 20px;
}

.envelope {
    position: absolute;
    width: 0; height: 0;
    border-top: 75px solid transparent;
    border-right: 100px solid #f4978e;
    border-bottom: 75px solid #f4978e;
    border-left: 100px solid #f4978e;
    z-index: 2;
}

.letter {
    position: absolute;
    background: white;
    width: 90%; height: 90%;
    left: 5%; top: 5%;
    color: #333;
    text-align: center;
    transition: 0.8s;
    z-index: 1;
}

.flowers img {
    width: 100px;
    animation: sway 3s infinite ease-in-out;
}

@keyframes sway {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
}
